{{ if .Site.Params.about.enable | default false }}
<section id="about" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.about.title }}</h3>
        <div class="row justify-content-center py-5">
            {{ if .Site.Params.about.image }}
            <div class="col-md-4 mb-4">
                <div class="image d-flex justify-content-center">
                    <img src="{{ .Site.Params.about.image }}" class="img-thumbnail rounded-circle" alt="" style="width: 150px; height: 150px;">
                </div>
            </div>
            {{ end }}
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="about-content">
                            {{ .Site.Params.about.content | markdownify }}
                        </div>
                        {{ if .Site.Params.about.skills.enable }}
                        <h4 class="mt-4">{{ .Site.Params.about.skills.title }}</h4>
                        <ul class="list-unstyled">
                            {{ range .Site.Params.about.skills.items }}
                            <li>{{ . | markdownify }}</li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
